{{#partial "title"}}

{{/partial}}

{{#partial "content"}}
    <div class="container">
        <h1> LET THE GAME BEGIN </h1>

        <p><a href="/squads" class="btn btn-lg btn-dark">View Squad List</a></p>
        <p><a href="/squads/new" class="btn btn-lg btn-dark">Add a New Squad</a></p>
    </div>


{{/partial}}

{{> layout.hbs}}